<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Welcome to Deep sleeping</title>

    <link rel="stylesheet" href="/css/Home.css" th:href="@{/css/Home.css}" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/images/font/css/all.css" th:href="@{/images/font/css/all.css}" />
    <link
      rel="shortcut icon"
      href="/images/logo-page.jpg"
      th:href="@{/images/logo-page.jpg}"
      type="image/x-icon"
    />
  </head>
  <body>
    <nav th:fragment="header">
      <div class="nav-bar">
        <div class="logo">
          <a href="/Home.html">
            <img src="/images/logo.jpg" alt="Logo" />
          </a>
        </div>

        <div class="menu">
          <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/metho">Methodology</a></li>
            <li><a href="/timer">Timer</a></li>
            <li><a href="/sleep-suggestion">Sleep Suggestions</a></li>
            <li><a href="/lull">Lull</a></li>
          </ul>
        </div>



        <div class="login-button">
          <a th:if="${#authentication.principal == 'anonymousUser'}" class="btn-login" href="/auth">Login</a>
        </div>
        <div th:if="${#authentication.principal != 'anonymousUser'}">
          <p>Welcome, <strong th:text="${#authentication.name}" style="font-style: italic;">User</strong>!</p>
        </div>
        <a href="/logout" th:if="${#authentication.principal != 'anonymousUser'}">Logout</a>
      </div>
    </nav>

    <div class="coup">
      <img src="/images/anhcouple.jpg" alt="" />
      <h2>Sleep Better, For the Journey Ahead</h2>
      <p>
        Understand your sleep strengths and challenges so you can live life at
        full steam.
      </p>
    </div>
    <div class="title">
      <a href=""><h2>Tips To Improve Your Sleep</h2></a>
      <hr />
    </div>
    <div class="tip">
      <div class="tip1">
        <img src="/images/anhtip1.jpg" alt="" />
        <a href=""><h3>Melatonin Dosage: How Much Should You Take</h3></a>
        <p>
          Wondering how much melatonin is too much? Is it safe for kids? Answers
          to your top melatonin dosage questions and more.
        </p>
      </div>
      <div class="tip2">
        <img src="/images/anhtip2.jpg" alt="" />
        <a href=""><h3>Healthy Sleep Tips For Women of All Ages</h3></a>
        <p>
          Improving sleep habits and your sleep environment may be more
          conducive to consistent and restorative sleep when you need it most.
        </p>
      </div>
      <div class="tip3">
        <img src="/images/anhtip3.jpg" alt="" />
        <a href=""><h3>Can’t Sleep? 8 Techniques You Can Do</h3></a>
        <p>
          Waking up in the middle of the night is literally for the birds. Here
          are some tested tips and tricks to calm your mind and get you back to
          sleep in no time.
        </p>
      </div>
    </div>
    <div class="we">
      <div class="ctp">
        <h2>We are here for you</h2>
        <p>
          At Sleep Foundation, we combine decades of experience in sleep health
          education with comprehensive product testing and the latest in sleep
          research to put you on the path to good sleep.
        </p>
      </div>
      <div class="k">
        <img src="/images/anhf.jpg" alt="" />
      </div>
    </div>

    <div class="top">
      <h2>Popular Sleep Topics</h2>
      <hr />
      <div class="topp">
        <div class="top1">
          <img src="/images/anhhome1.jpg" alt="" />
          <div class="ct-top1">
            <a href=""><h3>Snoring</h3></a>
            <p>
              Put an End To You or Your Partner’s Snoring By Taking This First
              Step
            </p>
          </div>
        </div>
        <div class="top2">
          <img src="/images/anhhome2.jpg" alt="" />
          <div class="ct-top2">
            <a href=""><h3>Sleep Hygiene</h3></a>
            <p>
              Are You a Master of Sleep Hygiene? Let’s Talk About What It Is
            </p>
          </div>
        </div>
        <div class="top3">
          <img src="/images/anhhome3.jpg" alt="" />
          <div class="ct-top3">
            <a href=""><h3>Sleep Deprivation</h3></a>
            <p>Understanding the Hidden Consequences of Not Sleeping Enough</p>
          </div>
        </div>
        <div class="top4">
          <img src="/images/anhhome4.jpg" alt="" />
          <div class="ct-top4">
            <a href=""><h3>Stages of Sleep</h3></a>
            <p>Do You Know an NREM from an LOL? Let’s Talk Sleep Cycles</p>
          </div>
        </div>
        <div class="top5">
          <img src="/images/anhhome5.jpg" alt="" />
          <div class="ct-top5">
            <a href=""><h3>Nutrition</h3></a>
            <p>
              What (and When) You Eat Can Have a Big Affect On How You Sleep
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="contactt">
      <h2>Contact with us for more:</h2>
      <hr />
      <div class="contact">
        <div>
          <a href="https://www.facebook.com/huanle04">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </div>
        <div class="hii">
          <a href="https://www.instagram.com/hunlvne.04">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
        <div class="hi">
          <a href="">
            <i class="fa-brands fa-tiktok"></i>
          </a>
        </div>
        <div class="thr">
          <a href="https://www.threads.net/@hunlvne.04">
            <i class="fa-brands fa-threads"></i>
          </a>
        </div>
      </div>
    </div>

    <script src="/js/Home.js" th:src="@{/js/Home.js}"></script>
  </body>
</html>
