<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Methodology</title>
    <link rel="stylesheet" href="/css/Metho.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="/images/logo-page.jpg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/images/font/css/all.css" />
  </head>
  <body>
    <nav>
      <div class="nav-bar">
        <span class="logo"><a href="/"><img src="/images/logo.jpg" alt=""></a></span>

        <div class="menu">
          <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/metho">Methodology</a></li>
            <li><a href="/timer">Timer</a></li>
            <li><a href="/sleep-suggestion">Sleep Suggestions</a></li>
            <li><a href="/lull">Lull</a></li>
          </ul>
        </div>
        <div class="timkiem">
          <div class="searchBox">
            <div class="searchToggle">
              <i class="bx bx-search search"></i>
              <i class="bx bx-x cancel"></i>
            </div>
            <div class="search-field">
              <input type="text" placeholder="Search..." />
              <i class="bx bx-search"></i>
            </div>
          </div>
        </div>
        <div class="login-button">
          <a th:if="${#authentication.principal == 'anonymousUser'}" class="btn-login" href="/auth">Login</a>
        </div>
        <div th:if="${#authentication.principal != 'anonymousUser'}">
          <p><strong th:text="${#authentication.name}" style="font-style: italic;">User</strong>!</p>
        </div>
        <a href="/logout" th:if="${#authentication.principal != 'anonymousUser'}">Logout</a>
      </div>
      <div class="mainfull">
        <div class="container1">
          <div class="">
            <img src="/images/bedroom.jpg" alt="" />

            <div class="text1">
              <h1>
                Sleeping well is a skill that you can develop through simple
                tools and techniques
              </h1>
            </div>
            <div class="text2">
              <p>
                "Every day, so many people like you struggle with insomnia or
                just generally getting great quality sleep, yet providing you
                don't have a medical disorder or condition, it is perfectly
                possible for you to develop the skill of sleeping well at
                night."
              </p>
              <p>- Le Viet Huan, Author of The Sleep Deep -</p>
            </div>
          </div>
        </div>
        <div class="vio"></div>
        <div class="nosleep">
          <div class="tieude">
            <h2>From insomnia to sleeping well</h2>
            <hr />
          </div>
          <div class="khoi1">
            <div class="avata">
              <img src="/images/avatar.jpg" alt="" class="deptrai" />
            </div>
            <div class="content">
              <h3>
                <p>
                  Hello! My name is Huan Le Viet. I am a sleep coach, speaker
                  and author of The Sleep Deep Method®.
                </p>
                <br />
                <p>
                  I spent the last 10 years studying and researching sleep,
                  initially because I wanted help with overcoming my insomnia,
                  then I found the topic really fascinating and wanted to find
                  out how we can optimise our sleep.
                </p>
                <br />
                <p>
                  My path today, working with people on their sleep and
                  wellness, was inspired by my own struggles with having to fit
                  it all into my 24 hours each day. I’m very familiar with the
                  pressure that so many of us feel today.
                </p>
                <br />
                <p>
                  That need to do, be and have it all – busyness and hard work
                  have become badges of honor. All the while, not enough
                  emphasis is placed on simply being happy, healthy and present
                  in our life.
                </p>
                <br />
                <p>
                  Having struggled with insomnia in my mid twenties, I know how
                  it feels not to be able to get to sleep at night, wake up in
                  the middle of the night (in my case because of nose bleeds and
                  overthinking) and unable to get back to sleep and once you
                  wake up in the morning feeling tired and then having to face a
                  busy day.
                </p>
                <br />
                <p>
                  Having struggled with insomnia in my mid twenties, I know how
                  it feels not to be able to get to sleep at night, wake up in
                  the middle of the night (in my case because of nose bleeds and
                  overthinking) and unable to get back to sleep and once you
                  wake up in the morning feeling tired and then having to face a
                  busy day.
                </p>
                <br />
              </h3>
            </div>
          </div>
        </div>
        <div class="areas">
          <div class="tieude1">
            <h2>7 Areas of life affecting your sleep</h2>
            <hr />
          </div>
          <div class="content-area">
            <h3>
              <p>
                How would your life change if you slept well every single night?
              </p>
              <br />
              <p>
                The Sleep Deep Method® is based on seven areas of our lives, as
                quality sleep is best achieved from a holistic, rounded
                perspective.
              </p>
              <br />
              <p>
                When we look at healthy sleep from a holistic, big picture
                perspective, we have to look at these seven areas of our life
                and how our 24 hours within each day caters for healthy sleep at
                night.
              </p>
              <br />
              <p>
                If you have ever tried a ‘secret’ of great sleep and found that
                it didn’t work for you, then you may already have the sense that
                there is more to sleeping than resting your head on a lavender
                scented pillow.
              </p>
              <br />
              <p>
                Finding the root of your insomnia or sleep problems will help
                you to find personalised, practical and effective tools and
                techniques in place to ensure great sleep every night.
              </p>
              <br />
              <p>
                The Sleep Deep Method® which I published back in 2014 is taken
                out of circulation. I'm working on a new and updated book to
                help and support you in improving your sleep.
              </p>
              <br />
            </h3>
          </div>
        </div>
        <div class="physical">
          <div class="title2">
            <h2>Physical elements</h2>
            <hr />
          </div>
          <br /><br />
          <div class="khoi2">
            <div class="con-physical">
              <h3>
                <p>
                  Where better to begin than the vessel in which you spend 100%
                  of your life. The physical aspect of the methodology is
                  focused on your body. Other elements of your life will of
                  course affect you physically too.
                </p>
                <br />
                <p>
                  For example, if there are loud noises outside your house at
                  night keeping you awake, this is an environmental issue (a
                  different area of life), but it will affect your physiology by
                  triggering your waking response.
                </p>
                <br />
                <p>
                  A likely physical response is that your heart rate and blood
                  pressure will rise as the noises annoy you, in turn waking up
                  your body and making sleep even harder to achieve. This
                  annoyance leads us nicely on to the next area.
                </p>
                <br />
              </h3>
            </div>
            <div class="pic-physical">
              <img src="/images/Physical Element.png" alt="" />
            </div>
          </div>
        </div>
        <div class="emo">
          <div class="title3">
            <h2>Emotional elements</h2>
            <hr />
          </div>
          <br /><br />
          <div class="khoi3">
            <div class="con-emo">
              <h3>
                <p>
                  Our emotions play a huge role in insomnia and other sleep
                  problems. In the busyness of our days, we often don’t make the
                  time for processing difficult feelings, so they get pushed
                  down, until they resurface later in the day as soon as there
                  is space.
                </p>
                <br />
                <p>
                  It is typically when we try to wind down and sleep, our
                  finally being still and quiets allows those repressed emotions
                  to reappear, sending us into a spin.
                </p>
                <br />
                <p>
                  This is why it is important to create the space to deal with
                  emotions during your day.
                </p>
                <br />
              </h3>
            </div>
            <div class="pic-emo">
              <img src="/images/emo element.png" alt="" />
            </div>
          </div>
        </div>
        <div class="social">
          <div class="title4">
            <h2>Social elements</h2>
            <hr />
          </div>
          <br /><br />
          <div class="khoi4">
            <div class="con-social">
              <h3>
                <p>
                  Our social lives have changed a lot over the last decade with
                  the Internet and social media decreasing the amount of time we
                  spend sitting across the table from our friends and family, or
                  just sitting with our own thoughts.
                </p>
                <br />
                <p>
                  Many clients of The Sleep Deep Method® have come to us with a
                  social media addiction, or a heavily over-committed social
                  calendar.
                </p>
                <br />
                <p>
                  Getting off autopilot and making better lifestyle choices is a
                  big step for many clients. Building in some simple, routine
                  downtime allows your brain to prepare for sleep in a natural
                  way.
                </p>
                <br />
              </h3>
            </div>
            <div class="pic-social">
              <img src="/images/social elements.png" alt="" />
            </div>
          </div>
        </div>
        <div class="spirit">
          <div class="title5">
            <h2>Spiritual elements</h2>
            <hr />
          </div>
          <br /><br />
          <div class="khoi5">
            <div class="con-spirit">
              <h3>
                <p>
                  How peaceful you are internally, and how harmonious you are
                  with the outside world will play a big role in your sleep. As
                  busy people with work and other responsibilities, we can
                  quickly begin to feel unfulfilled if we don’t have time for
                  ourselves.
                </p>
                <br />
                <p>
                  Those last hours of the day can become the only ‘me’ time we
                  get, leading us to stay awake later just to squeeze more out
                  of the day.
                </p>
                <br />
                <p>
                  We are here to do more than work and sleep, so our clients use
                  diary management not to just squeeze more work in to each day,
                  but to ensure they have a great quality of life, enjoying
                  hobbies and having fun too.
                </p>
                <br />
              </h3>
            </div>
            <div class="pic-spirit">
              <img src="/images/spiritual element.png" alt="" />
            </div>
          </div>
        </div>
        <div class="intell">
          <div class="title6">
            <h2>Intellectual elements</h2>
            <hr />
          </div>
          <br /><br />
          <div class="khoi6">
            <div class="con-intell">
              <h3>
                <p>
                  Lack of sleep negatively impacts your cognition. Without your
                  full intellectual capacity, you are not able to achieve a lot
                  of things that matter to you the most, which increases worry
                  and lowers self-confidence.
                </p>
                <br />
                <p>
                  This in turn impacts on your sleep, keeping you awake at night
                  worrying about where you are going wrong. When you look at
                  this with perspective, you can clearly see the vicious circle
                  trapping you.
                </p>
                <br />
                <p>
                  Focus on learning the skill of sleep, and feel the improvement
                  in focus and achievement during the day. Many peak performers
                  know this, and use their sleep to power their daytimes, being
                  more effective and getting more out of life.
                </p>
                <br />
              </h3>
            </div>
            <div class="pic-intell">
              <img src="/images/intellectual element.png" alt="" />
            </div>
          </div>
        </div>
        <div class="envi">
          <div class="title7">
            <h2>Environmental elements</h2>
            <hr />
          </div>
          <br /><br />
          <div class="khoi7">
            <div class="con-envi">
              <h3>
                <p>
                  When we talk about the sleep environment, we are considering
                  three levels; your body (what you wear etc.), then your bed
                  and bedroom, and finally your home and the outside
                  environment.
                </p>
                <br />
                <p>
                  We believe that your bedroom is for sleep and lovemaking/sex
                  only. Work and other sources of distraction should be cleared
                  out, and your bedroom should be a sleep sanctuary. Taking on
                  this approach helps you to set your boundaries and get the
                  space you need to rest well.
                </p>
                <br />
                <p>
                  It is important to look at all aspects of your environment in
                  detail, right down to your choice of pyjamas. Did you know
                  that our skin responds to the materials we wear?
                </p>
                <br />
              </h3>
            </div>
            <div class="pic-envi">
              <img src="/images/environmental element.png" alt="" />
            </div>
          </div>
        </div>
        <div class="occu">
          <div class="title8">
            <h2>Occupational elements</h2>
            <hr />
          </div>
          <br /><br />
          <div class="khoi8">
            <div class="con-occu">
              <h3>
                <p>
                  This area of life covers everything that keeps you busy during
                  the day; think of all the different hats that you wear, from
                  your career to charity work, parenting, study, or retirement
                  activities.
                </p>
                <br />
                <p>
                  We know that sacrificing sleep for over-working is a false
                  economy. Lack of sleep affects your occupational drive and
                  sense of fulfillment in life. We encourage clients to use The
                  Sleep Deep Method® Sleep Diary to work out how much sleep they
                  truly get, and what factors are affecting them.
                </p>
                <br />
                <p>
                  Sleeping well and living well is all about healthy balance,
                  which is absolutely achievable in any career when you set your
                  boundaries and stick to them.
                </p>
                <br />
              </h3>
            </div>
            <div class="pic-occu">
              <img src="/images/occupational element.png" alt="" />
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="title-fo">
            <h2>Need personallised help ?</h2>
            <hr />
          </div>
          <div class="banner-fo">
            <div class="banner-left">
              <h3>
                <p>
                  "This session alone always provides valuable learnings for you
                  to implement and will give you clarity about what might be the
                  real reasons why you are struggling to sleep well at night or
                  developed a sleep issues."
                </p>
                <p>Huan Le Viet, Author of The Sleep Deep Method®</p>
              </h3>
            </div>
            <div class="banner-right">
              <h2>Book your Free Sleep Assessment Appointment</h2>
              <br />
              <h3>
                During this session we will discuss what elements of your sleep
                you struggle with the most and how you can overcome your
                insomnia and sleep problems
              </h3>
            </div>
          </div>
        </div>
        <br /><br />
        <h2>Contact with us:</h2>
        <hr />
        <div class="contact">
          <div>
            <a href="https://www.facebook.com/huanle04">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </div>
          <div class="hii">
            <a href="https://www.instagram.com/hunlvne.04">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </div>
          <div class="hi">
            <a href="">
              <i class="fa-brands fa-tiktok"></i>
            </a>
          </div>
          <div class="thr">
            <a href="https://www.threads.net/@hunlvne.04">
              <i class="fa-brands fa-threads"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
